{% extends "@App/layout.html.twig" %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block platform_body %}
    {#<h2>Page de contact</h2>#}
    {#{{ include('AppBundle:Advert:form.html.twig') }}#}

    {#<p>#}
        {#<a href="{{ path('core_homepage')}}" class="btn btn-default">#}
            {#<i class="glyphicon glyphicon-chevron-left"></i>#}
            {#Retour à l'accueil#}
        {#</a>#}
    {#</p>#}

{% endblock %}